body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

a {
  color: #000;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
}
